#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  margin: 24;
}

.header-container {
  padding: 8;
  display: "flex";
  justify-content: "space-between";
  flex-direction: "row";
}

.root-container {
  display: "flex";
  align-items: "center";
  margin-top: 40;
}
